<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- MATERIALIZE START -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <!-- MATERIALIZE END -->
</head>

<body>
<div class="container">
    <div class="valign-wrapper">
        <div class="card-panel light-blue z-depth-2">
            The current date and time:
        </div>
    </div>
    <div class="valign-wrapper">
        <div class="card-panel purple z-depth-2">
            {{ time }}
        </div>
    </div>
</div>    


    <!-- JS START -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- JS END -->
</body>
</html>